.green {
    background-color: #16a085;
}

.blue {
    background-color: #354556;
    z-index: 5;
}

.white {
    background-color: #ffffff;
}

.brown {
    background-color: #ecf0f1;
}


.conteiner {
    max-width: 960px;
}

.flex {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.full {
    -ms-flex-preferred-size: 100%;
            -webkit-flex-basis: 100%;
            flex-basis: 100%;
}

.column {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
}


.center {
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}

.space_around {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
}

.space_between {
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.wrap {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}


/*-----------------*\
    #
\*-----------------*/

.header {
    /*height: 50px;*/
}

.banner {
    height: 550px;
}

.promo {
    height: 374px;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
}


.posts {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    max-width: 960px;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;

}
.posts>h2 {
    -ms-flex-preferred-size: 100%;
            -webkit-flex-basis: 100%;
            flex-basis: 100%;
}


.footer {
    height: 160px;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
}

/*-----------------*\
    #Logo
\*-----------------*/



.logo:after {
    content: '';
    display: inline-block;
    position: relative;
    background-image: url(/img/logo.png);
    width: 8px;
    height: 8px;
    bottom: 13px;
    bottom: 13px;
    left: 4px;
}

.logo {
    font-size: 1.35em;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    padding: 10px 0;
    text-decoration: none;
    margin-left: 5px;
}

/*-----------------*\
    #Navigation
\*-----------------*/
.navigate a {
    color: #9bded1;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    text-decoration: none;
    -ms-flex-preferred-size: 1;
            -webkit-flex-basis: 1;
            flex-basis: 1;
    text-align: center;
    padding: 15px 5px;
    display: block;

}

.navigate {
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}


.navigate>a:hover {
    color: white;
}

.navigate>a:active {
    text-shadow: 0px 0px 15px rgba(255, 255, 255, 1);
}

.nav_toggle {
    display: none;
    }

@media screen and (max-width: 600px) {
  .nav_toggle {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: auto;
            -webkit-flex-basis: auto;
            flex-basis: auto;
    }

    .navigate {
        display: none;
        z-index: 10;

    }

    .nav1 {
        z-index: 15
    }

    .nav_toggle {
        background: url(/img/menu.png) no-repeat center;
        padding: 5px;
        border-left: 1px solid white;
        width: 40px;
        height: 40px;
    }
    
    .m_column {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
}

    .logo {
        -ms-flex-preferred-size: 50%;
                -webkit-flex-basis: 50%;
                flex-basis: 50%;
    }

    .navigate a {
        border-bottom: 1px solid white;
        font-weight: 400;

    }
        
    .flex {
        -ms-flex-preferred-size: 100%;
            -webkit-flex-basis: 100%;
                flex-basis: 100%;
    }


    .nav__items-visible {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    visibility: hidden;
    max-height: 0;
    }



    .animation {
        visibility: visible;
        max-height: 500px;
        transition-property: all;
        transition-duration: 10s;
        -webkit-justify-content: flex-end;
            -ms-flex-pack: end;
                justify-content: flex-end;
    }
    .header_sub {
        border-bottom: 1px solid white;
    }
}






/*-----------------*\
    #Banner
\*-----------------*/


.banner h1,
.banner h3,
.banner a {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: white;
    -ms-flex-preferred-size: 100%;
            -webkit-flex-basis: 100%;
            flex-basis: 100%;
    margin: 0;
    -ms-flex-preferred-size: auto;
            -webkit-flex-basis: auto;
            flex-basis: auto;
}

.banner>h1 {
     font-size: 6em;
     margin-top: 0.25em;
}

.banner>h3 {
    font-size: 2.4em;
    margin-top: -0.1em;
    margin-bottom: 1.5em;
}

.banner>a {
    text-decoration: none;
    inherit: none;
    border: 1px solid white;
    border-radius: 4px;
    background-color: #354556;
    padding: 0.9em 2.6em;
}
.banner>a:hover {
    border: 1px solid #16a085;
    color: #16a085;
}

.banner>a:active {
    box-shadow: 0px 0px 10px 0px rgba(22,160,133,1);
}

@media screen and (max-width: 600px) {

    .banner {
    height: 250px;
    }


    .banner>h1 {
     font-size: 3em;
     margin-top: 0.25em;
    }

    .banner>h3 {
        font-size: 1.2em;
        margin-top: -0.1em;
        margin-bottom: 1.5em;
    }
    
    .banner>a {
        text-decoration: none;
        inherit: none;
        border: 1px solid white;
        border-radius: 4px;
        background-color: #354556;
        padding: 0.5em 1.3em;
    }
}


/*-----------------*\
    #Promo
\*-----------------*/

.block1, .block2, .block3 {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5px;
} 

.promo h4,
.promo p,
.promo a {
    color: #16a085;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    text-decoration: none;
    text-align: center;
}

.promo h4 {
    font-size: 2em;
}

.promo p {
    font-family: 'Lato', sans-serif;
    color: rgb(127, 140, 141);
    font-weight: 100;
    line-height: 1.5em;
    margin: 1.6em 0;
}


.promo a {
    text-decoration: none;
    inherit: none;
    border: 1px solid #16a085;
    padding: 0.40em 1.4em;
    opacity: 0.8;
    margin-bottom: 0.5em;
    font-weight: 400;
}
.promo a:hover {
    border: 1px solid #16a085;
    color: #16a085;
}

.promo a:active {
    box-shadow: 0px 0px 10px 0px rgba(22,160,133,1);
}



/*-----------------*\
    #Posts
\*-----------------*/




.posts h4,
.posts p,
.posts a {
    color: #16a085;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    text-decoration: none;
    text-align: center;
}

.post1,
.post2,
.post3 {
    min-width: 300px;
    max-width: 600px;


    border: 1px solid black;
}

.img {
    background-color: #dbdbdb;
    height: 100px;
    max-width: 300px;
}

.brown h2 {
    
}





/*-----------------*\
    #
\*-----------------*/


h2 {
    -ms-flex-item-align:start;
            -webkit-align-self:flex-start;
            align-self:flex-start;
    
}


