* {
    margin: 0px;
}

.green {
    background-color: #16a085;
    border-top: 1px solid #16a085;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
}

.blue {
    background-color: #354556;
    display: -webkit-flex;
    justify-content: center;
}

.white {
    background-color: #ffffff;
    display: -webkit-flex;
    justify-content: center;
}

.brown {
    background-color: #ecf0f1;
    display: -webkit-flex;
    align-items: center;
    flex-direction: column;
}


.conteiner {
    flex: 1;
    max-width: 960px;
    display: -webkit-flex;
    justify-content: space-between;
    align-items: center;
}

/*-----------------*\
    #
\*-----------------*/

.nav {
    height: 50px;
}

.banner {
    height: 550px;
    flex-direction: column;
    justify-content: flex-start;
}

.promo {
    height: 374px;
    justify-content: space-between;
}

.posts {
    height: 326px;
}

.footer {
    height: 160px;
    justify-content: flex-start;
    align-items: flex-start;
}

/*-----------------*\
    #Logo
\*-----------------*/



.logo:after {
    content: '';
    display: inline-block;
    position: relative;
    background-image: url(/img/logo.png);
    width: 8px;
    height: 8px;
    bottom: 13px;
    left: 4px;
}

.logo {
    font-size: 1.35em;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    padding: 10px 0;
    text-decoration: none;
}

/*-----------------*\
    #Navigation
\*-----------------*/

.navigate {

}

.navigate>a {
    color: #9bded1;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-decoration: none;
}

.navigate>a {
    padding: 15px 0px 15px 10px;
}

.navigate>a:hover {
    color: white;
}

.navigate>a:active {

text-shadow: 0px 0px 17px rgba(255, 255, 255, 1);
}

/*-----------------*\
    #Banner
\*-----------------*/


.banner>h1,
.banner>h3,
.banner>a {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: white;
}

.banner>h1 {
     font-size: 6em;
     margin-top: 1.55em;
     margin-bottom: 0em;
}

.banner>h3 {
    font-size: 2.4em;
}

.banner>a {
    text-decoration: none;
    inherit: none;
    border: 1px solid white;
    border-radius: 4px;
    background-color: #354556;
    padding: 0.8em 2.8em;
    margin-top: 3.8em;
}
.banner>a:hover {
    border: 1px solid #16a085;
    color: #16a085;
}

.banner>a:active {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(22,160,133,1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(22,160,133,1);
    box-shadow: 0px 0px 10px 0px rgba(22,160,133,1);
}



/*-----------------*\
    #
\*-----------------*/

.promo h4,
.promo p,
.promo a {
    color: #16a085;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    text-decoration: none;
    text-align: center;
}

.posts h4,
.posts p,
.posts a {
    color: #16a085;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    text-decoration: none;
    text-align: center;
}

.img {
    background-color: #dbdbdb;
    height: 100px;
    max-width: 300px;
}

h2 {
    align-self:flex-start;
    
}


