.green {
    background-color: #16a085;
}

.blue {
    background-color: #354556;
}

.white {
    background-color: #ffffff;
}

.brown {
    background-color: #ecf0f1;
}


.conteiner {
    max-width: 960px;
}

.flex {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.full {
    -ms-flex-preferred-size: 100%;
            -webkit-flex-basis: 100%;
            flex-basis: 100%;
}

.column {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
}
.stretch {
        -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;

}

.center {
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}



.space_around {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
}

.space_between {
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.wrap {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}




/*-----------------*\
    #Logo
\*-----------------*/

.logo:after {
    content: '';
    display: inline-block;
    position: relative;
    background-image: url(/img/logo.png);
    width: 8px;
    height: 8px;
    bottom: 13px;
    left: 4px;
}

.logo {
    font-size: 1.35em;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    padding: 10px 5px;
    text-decoration: none;
}


/*-----------------*\
    #Navigation
\*-----------------*/

.navigate a {
    color: #9bded1;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    text-decoration: none;
    text-align: center;
    padding: 15px 5px;
}
.navigate>a:hover {
    color: white;
}
.navigate>a:active {
    text-shadow: 0px 0px 15px rgba(255, 255, 255, 1);
}

.nav_toggle {
    display: none;
    }

@media screen and (max-width: 640px) {

    .nav_toggle {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        background: url(/img/menu.png) no-repeat center;
        padding: 5px;
        border-left: 1px solid white;
        width: 40px;
        height: 40px;
    }
    
    .m_column {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    }

    .navigate a {
        border-bottom: 1px solid white;
        font-weight: 400;

    }
    .navigate a:first-child {
        border-top: 1px solid white;
    }
        
    .n_flex {
        -ms-flex-preferred-size: 100%;
                -webkit-flex-basis: 100%;
                flex-basis: 100%;
    }

    .visible {
        display: none;
    }

}

/*-----------------*\
    #Banner
\*-----------------*/

.banner {
    height: 550px;
}

.banner>h1,
.banner>h3,
.banner>a {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: white;
    margin: 0;
    text-decoration: none;
}

.banner>h1 {
     font-size: 6em;
     margin-top: 0.25em;
}

.banner>h3 {
    font-size: 2.4em;
    margin-top: -0.1em;
    margin-bottom: 1.5em;
}

.banner>a {
    border: 1px solid white;
    border-radius: 4px;
    padding: 0.9em 2.6em;
}
.banner>a:hover {
    border: 1px solid #16a085;
    color: #16a085;
}

.banner>a:active {
    box-shadow: 0px 0px 10px 0px rgba(22,160,133,1);
}

@media screen and (max-width: 640px) {

    .banner {
        height: 250px;
    }

    .banner>h1 {
        font-size: 3em;
        margin-top: 0.25em;
    }

    .banner>h3 {
        font-size: 1.2em;
        margin-top: -0.1em;
        margin-bottom: 1.5em;
    }
    
    .banner>a {
        padding: 0.5em 1.3em;
    }

}


/*-----------------*\
    #Promo
\*-----------------*/

.promo {
    min-height: 374px;
    width: 100%;
}

.block1, .block2, .block3  {
    
    width: 100%;
} 

.promo h4,
.promo p,
.promo a {
    color: #16a085;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    text-decoration: none;
    text-align: center;
    margin: 0;
}

.promo h4 {
    font-size: 1.8em;
    height: 2.5em;
    margin-top: 2.3em;
    width: 100%;
}

.promo p {
    font-family: 'Lato', sans-serif;
    color: rgb(127, 140, 141);
    font-weight: 100;
    line-height: 1.5em; 
}

.need {
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
            width: 95%;
            height: 10.5em;
}




.promo a {
    text-decoration: none;
    inherit: none;
    display: inline;
    border: 1px solid #16a085;
    padding: 0.40em 1.4em;
    opacity: 0.8;
    font-weight: 400;
    margin-bottom: 4.7em;

}
.promo a:hover {
    border: 1px solid #16a085;
    color: #16a085;
}

.promo a:active {
    box-shadow: 0px 0px 10px 0px rgba(22,160,133,1);
}



@media screen and (max-width: 640px) {

    .m_column {
        flex-direction: column;
    }
    .need p,
    .block3 h4{
        width: 90vw;
        max-width: 100%;
    }
    
    .need {
        height: 10em;
    }

    .promo a {
        margin-bottom: 3em;
    }

    .none {
        display: flex;
    }
}


/*-----------------*\
    #Posts
\*-----------------*/


.posts {
    max-width: 960px;
    width: 100%;
}

.news_header h2{
    color: #16a085;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    text-decoration: none;
    text-align: left;
}

.posts h4,
.posts p,
.posts a {
    color: #16a085;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    text-decoration: none;
    text-align: center;
    width: 100%;
}

.post1,
.post2,
.post3 {

    width: 100%;
    border: 1px solid black;
}

.posts img {
    height: 100%;
    width: 100%;
    max-width: 300px;
    max-height: 100px;
}

.news_block {
    width: 100%;
}

.posts a {
    text-decoration: none;
    inherit: none;
    display: inline;
    border: 1px solid #16a085;
    padding: 0.40em 1.4em;
    opacity: 0.8;
    font-weight: 400;
    margin-bottom: 4.7em;
    width: auto;

}
.posts a:hover {
    border: 1px solid #16a085;
    color: #16a085;
}

.posts a:active {
    box-shadow: 0px 0px 10px 0px rgba(22,160,133,1);
}


/*-----------------*\
    #Footer
\*-----------------*/


h2 {
    -ms-flex-item-align:start;
            -webkit-align-self:flex-start;
            align-self:flex-start;
    
}



.footer {
    height: 160px;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
}
